<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="../qworld/include/mathjax_macro.js"></script>

<script> qworld_header("Basi dei sistemi quantistici");  </script>

<p align="right" style="font-family:monospace;"><i> redatto da <a href='http://abu.lu.lv' target="_blank">Abuzer Yakaryilmaz<a/> (<a href="http://qworld.lu.lv/index.php/qlatvia/" target="_blank">QLatvia</a>)</i></p>
<hr>


<script> start_div();  </script>
If $ x =  \frac{1}{2} $, Quale dei seguenti vettori può essere uno stato quantistico valido?
<br><br>
<script> 
	print_answer(0,"$ \\myvector{x} $");
	print_answer(0,"$ \\myvector{x \\\\ x } $");
	print_answer(0,"$ \\myvector{x \\\\ x \\\\ x} $");
	print_answer(1,"$ \\myvector{x \\\\ x \\\\ x \\\\ x } $");
	print_answer(0,"$ \\myvector{x \\\\ x \\\\ x \\\\ x \\\\ x } $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
Se $ \ket{u} = \myvector{ \frac{1}{2} \\ x \\ y} \in \mathbb{R}^3 $ è uno stato quantistico, quale delle seguenti equazioni non può essere valida?
<br><br>
<script> 
	print_answer(0,"$x+y = \\frac{1}{2} $");
	print_answer(0,"$x+y = \\frac{3}{4} $");
	print_answer(0,"$x-y=0$");
	print_answer(1,"$x^2+y^2 = \\frac{1}{2} $");
	print_answer(0,"$x^2+y^2 = \\frac{3}{4} $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
Abbiamo un sistema quantistico a tre stati. Se il sistema si trova nello stato quantistico $ \ket{u} = \myvector{ \frac{1}{3}-\frac{1}{\sqrt{3}} \\ \frac{1}{3}+\frac{1}{\sqrt{3}}  \\ x } \in \mathbb{R}^3  $, qual è la probabilità di trovarsi nel terzo stato?
<br><br>
<script> 
	print_answer(1,"$ \\frac{1}{9} $");
	print_answer(0,"$ \\frac{1}{8} $");
	print_answer(0,"$ \\frac{1}{6} $");
	print_answer(0,"$ \\frac{1}{3} $");
	print_answer(0,"$ \\frac{1}{2} $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
Se $ \ket{u} \in \mathbb{R}^2 $ è uno stato quantistico sulla circonferenza unitaria con angolo $ \frac{2\pi}{3} $, qual è $ \ket{u} $?
<br><br>
<script> 
	print_answer(0,"$ \\myrvector{ \\frac{1}{2} \\\\ \\frac{\\sqrt{3}}{2} } $");
	print_answer(1,"$ \\myrvector{ -\\frac{1}{2} \\\\ \\frac{\\sqrt{3}}{2} } $");
	print_answer(0,"$ \\myrvector{ \\frac{\\sqrt{3}}{2} \\\\ \\frac{1}{2} } $");
	print_answer(0,"$ \\myrvector{ -\\frac{\\sqrt{3}}{2} \\\\ \\frac{1}{2} } $");
	print_answer(0,"$ \\myrvector{ -\\frac{\\sqrt{3}}{2} \\\\ -\\frac{1}{2} } $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
Cosa è $ H^4 $, dove $ H $ è l'operatore di Hadamard?
<br><br>
<script> 
	print_answer(0,"$ \\hadamard $");
	print_answer(0,"$ \\mymatrix{rr}{ \\onehalf & \\onehalf \\\\ \\onehalf & -\\onehalf } $");
	print_answer(1,"$ \\I $");
	print_answer(0,"$ \\X $");
	print_answer(0,"$ \\Z $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
Cosa è $ H^7 $?
<br><br>
<script> 
	print_answer(1,"$ \\hadamard $");
	print_answer(0,"$ \\mymatrix{rr}{ \\onehalf & \\onehalf \\\\ \\onehalf & -\\onehalf } $");
	print_answer(0,"$ \\I $");
	print_answer(0,"$ \\X $");
	print_answer(0,"$ \\Z $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
Abbiamo un qubit nello stato $ \ket{0} $. Applichiamo gli operatori $ H, X, X, H, X $ nell'ordine, dove $ X $ è l'operatore NOT. Qual è lo stato finale?
<br><br>
<script> 
	print_answer(0,"$ \\ket{0} $");
	print_answer(1,"$ \\ket{1} $");
	print_answer(0,"$ -\\ket{0} $");
	print_answer(0,"$ -\\ket{1} $");
	print_answer(0,"$ \\stateplusket $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
Abbiamo un qubit nello stato $ \ket{0} $. Applichiamo gli operatori $  X, H, X, H, X $ nell'ordine. Qual è lo stato finale?
<br><br>
<script> 
	print_answer(0,"$ \\ket{0} $");
	print_answer(0,"$ \\ket{1} $");
	print_answer(1,"$ -\\ket{0} $");
	print_answer(0,"$ -\\ket{1} $");
	print_answer(0,"$ \\stateminusket $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
Applichiamo una serie di operatori quantistici a un solo qubit che è nello stato $ \ket{0} $ all'inizio.
Se osserviamo lo stato $ 0 $ alla fine, quale delle seguenti combinazioni non è possibile, dove $ M $ denota una misura e applichiamo gli operatori da sinistra a destra?
 <br><br>
<script> 
	print_answer(0,"$ H,H,M $");
	print_answer(0,"$ X, X, M $");
	print_answer(0,"$ M, X, M , X , M $");
	print_answer(0,"$ H, X, H , M $");
	print_answer(1,"$ X , H , X , H , M $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
Abbiamo cinque qubit, diciamo $ q_0,\ldots,q_4 $ inizialmente nello stato 0. Applichiamo l'operatore $X$ a $ q_0 $ e $ q_4 $. Per i restanti qubit, applichiamo l'operatore identità oppure l'operatore $ X $ì. Dopo avere effettuato una misura, leggiamo i valori dai qubit $ q_0,\ldots,q_4 $ come $ b_0,\ldots,b_4 $, rispettivamente. 
<br><br>
Se $ b = b_4 \cdots b_0 $ è un numero binario, quale dei seguenti numeri decimali non può essere un valore di $ b $? 
<br><br>
<script> 
	print_answer(1,"$ 13 $");
	print_answer(0,"$ 17 $");
	print_answer(0,"$ 23 $");
	print_answer(0,"$ 25 $");
	print_answer(0,"$ 31 $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
L'operatore di Hadamard $ H = \mymatrix{rr}{ \sqrttwo & \sqrttwo \\ \sqrttwo & -\sqrttwo } $ è un operatore quantistico e preserva la lunghezza di qualsiasi vettore. Quale dei seguenti operatori non è un operatore quantistico? <i> (Suggerimento: Testate ogni matrice con alcuni vettori quantistici, per esempio, $ \ket{0} $, $ \ket{1} $, $ \ket{+} $, $ \ket{-} $, ecc.) </i>
<br><br>
<script> 
	print_answer(0,"$ \\mymatrix{rr}{ \\sqrttwo & \\sqrttwo \\\\ -\\sqrttwo & \\sqrttwo } $");
	print_answer(0,"$ \\mymatrix{rr}{ \\sqrttwo & -\\sqrttwo \\\\ \\sqrttwo & \\sqrttwo } $");
	print_answer(0,"$ \\mymatrix{rr}{ -\\sqrttwo & \\sqrttwo \\\\ \\sqrttwo & \\sqrttwo } $");
	print_answer(1,"$ \\mymatrix{rr}{ -\\sqrttwo & -\\sqrttwo \\\\ \\sqrttwo & \\sqrttwo } $");
	print_answer(0,"$ \\mymatrix{rr}{ -\\sqrttwo & -\\sqrttwo \\\\ -\\sqrttwo & \\sqrttwo } $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
Cosa è $ XH $? </i>
<br><br>
<script> 
	print_answer(0,"$ \\mymatrix{rr}{ \\sqrttwo & \\sqrttwo \\\\ -\\sqrttwo & \\sqrttwo } $");
	print_answer(1,"$ \\mymatrix{rr}{ \\sqrttwo & -\\sqrttwo \\\\ \\sqrttwo & \\sqrttwo } $");
	print_answer(0,"$ \\mymatrix{rr}{ -\\sqrttwo & \\sqrttwo \\\\ \\sqrttwo & \\sqrttwo } $");
	print_answer(0,"$ \\mymatrix{rr}{ -\\sqrttwo & -\\sqrttwo \\\\ \\sqrttwo & \\sqrttwo } $");
	print_answer(0,"$ \\mymatrix{rr}{ -\\sqrttwo & -\\sqrttwo \\\\ -\\sqrttwo & \\sqrttwo } $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
Cosa è $ (XH)^2\ket{0} $? 
<br><br>
<script> 
	print_answer(0,"$ \\ket{0} $");
	print_answer(0,"$ \\ket{+} $");
	print_answer(1,"$ \\ket{1} $");
	print_answer(0,"$ \\ket{-} $");
	print_answer(0,"$ -\\ket{0} $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
Cosa è $ (XH)^3\ket{0} $? 
<br><br>
<script> 
	print_answer(0,"$ \\ket{+} $");
	print_answer(0,"$ -\\ket{+} $");
	print_answer(0,"$ \\ket{1} $");
	print_answer(0,"$ \\ket{-} $");
	print_answer(1,"$ -\\ket{-} $");
	print_check_now();
	end_div();
</script>
<br>



<script> start_div();  </script>
Cosa è $ (XH)^5\ket{0} $? 
<br><br>
<script> 
	print_answer(0,"$ \\ket{+} $");
	print_answer(1,"$ -\\ket{+} $");
	print_answer(0,"$ \\ket{1} $");
	print_answer(0,"$ \\ket{-} $");
	print_answer(0,"$ -\\ket{-} $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
Cosa è $ (XH)^8\ket{0} $? 
<br><br>
<script> 
	print_answer(1,"$ \\ket{0} $");
	print_answer(0,"$ \\ket{+} $");
	print_answer(0,"$ \\ket{1} $");
	print_answer(0,"$ \\ket{-} $");
	print_answer(0,"$ -\\ket{0} $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
Quando un qubit è nello stato quantistico $ \ket{u} = \myrvector{\frac{3}{5} \\ -\frac{4}{5}} $, l'operatore di Hadamard viene applicato: $ \ket{u'} = H \ket{u} $. Qual è la probabilità di trovarsi nello stato $ \ket{1} $ nel nuovo stato quantistico $ \ket{u'} $?
<br><br>
<script> 
	print_answer(0,"$ 0.02 $");
	print_answer(0,"$ 0.36 $");
	print_answer(0,"$ 0.50 $");
	print_answer(0,"$ 0.64 $");
	print_answer(1,"$ 0.98 $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
Se $ \ket{u} = \myvector{x \\ 3x} $ è lo stato quantistico di un qubit, qual è la probabilità di trovarsi nello stato $ \ket{0} $?
<br><br>
<script> 
	print_answer(1,"$ 0.1 $");
	print_answer(0,"$ 0.25 $");
	print_answer(0,"$ 0.50 $");
	print_answer(0,"$ 0.75 $");
	print_answer(0,"$ 0.9 $");
	print_check_now();
	end_div();
</script>
<br>

<script> start_div();  </script>
Se $ \ket{u} = \myrvector{x \\ -2x \\ 2x \\ -x } $ è lo stato quantistico di un sistema quantistico con quattro stati, qual è la probabilità di trovarsi nello stato che ha ampiezza $ -2x $?
<br><br>
<script> 
	print_answer(0,"$ 0 $");
	print_answer(0,"$ 0.2 $");
	print_answer(1,"$ 0.4 $");
	print_answer(0,"$ 0.6 $");
	print_answer(0,"$ 0.8 $");
	print_check_now();
	end_div();
</script>
<br>


<script> start_div();  </script>
Abbiamo un qubit, e abbiamo un contatore con valore 0. 
<br><br>
Ripetere 20 volte:
<ul>
<li> Inizializzare lo stato del qubit a $ \ket{0} $. 
<li> Applicare l'operatore di Hadamard.
<li> Effettuare una misura.
	<ul><li>Se viene osservato lo stato '0': il valore del contatore viene incrementato di 2 e si continua con l'iterazione seguente.</ul>
<li> Applicare l'operatore di Hadamard.
<li> Effettuare una misura.
	<ul><li>Se viene osservato lo stato '1': il valore del contatore viene decrementato di 2 e si continua con l'iterazione seguente.</ul> 
<li> Applicare l'operatore di Hadamard.
<li> Effettuare una misura.
	<ul>
		<li>Se viene osservato lo stato '0': il valore del contatore è incrementato di 1
		<li>Se viene osservato lo stato '1': il valore del contatore è decrementato di 3
	</ul>
</ul>
Qual è il valore atteso del contatore alla fine delle iterazioni?
<br><br>
<script> 
	print_answer(0,"$ -10 $");
	print_answer(0,"$ -5 $");
	print_answer(0,"$ 0 $");
	print_answer(1,"$ 5 $");
	print_answer(0,"$ 10 $");
	print_check_now();
	end_div();
</script>
<br>






<script>
	print_check_all(); 
	inialize_user_answers()
</script>

